h2 Add to new Passage

form(method="POST", action="/passage")
  p
    label Passage Title
    input(type="text", name="title")
  p
    label Passage Body
    textarea(name="body")
  p
    input(type="submit") Submit